
  img
  {
    width: 80%;
    height: auto;
    margin: auto;
    display: block;
    margin-top: 60%;
    
  }


  body{
    margin: 0;
    height: 100hv;
    background: fixed;
    background-image: linear-gradient(to top, #ffffff, #ffffff);

    padding: 10px;
  }


  main{

    margin:  auto;
    background-color: rgba(2, 2, 2, 0.795);
    width: auto;
    max-width: 480px;
    min-width: 350px;
    height: auto;
    max-height: 600px;
  

    border-radius: 10%;


  }


  p{
    --verde-esmeralda: #5bb8ad;
    padding: 3%; 
  }


  header {
    background-color: #264653;
    margin-right: 20px;
    border-radius: 3%;
    width: 55%;


  }


  .loginb{
    text-decoration: none;
    color: black;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 20px;
    width: 90%;
    transition-duration: 1s;
    margin: 10px;
    margin-right: 10%;
    margin-left: 5%;
    height: auto;
    max-height: 90px;
  }


  .loginb2{
    text-decoration: none;
    color: black;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 20px;
    width: 90%;
    transition-duration: 1s;
    margin: 10px;
    margin-right: 10%;
    margin-left: 5%;
    height: auto;
    max-height: 90px;
  }


 .bup {
    margin-top: -15px;
    font-size: 18px;
    color: rgb(122, 122, 122);
  }


  main h1 {
    color: rgb(255, 255, 255);
    text-align: center;
    margin-bottom: -10px;
    padding-left: 10px

  }


  main h2{
    color: white;
    text-align: start;
  
  }


.h21{
    text-align: center;
    padding-left: 10px;
  }


  button:hover{
    background-color: rgba(0, 0, 0, 0.137);
    cursor: pointer;
    width: 94%;
    height: 90%;
  }


  hr{
    margin-right: 10%;
    margin-left: 10%;
  }


  .seta{
    width: 20%;
    margin-top: -60px;
    margin-right: -5%;
  }


  .lado{
    display: flex;
    justify-content: center;
    align-items: center;
  }


  button h1{
    align-items: start;
  }


  .divcentro{
margin-top: 10vh;
  }


.next{
  color: white;
  font-size: 1.5em;
  font-weight: bolder;
  margin-top: -40px;
  margin-left: 59%;

}


.divEspecial{
display: flex;
}


.bemVindo{
  text-align: center;
}


.next2{
  color: white;
  font-size: 1.5em;
  font-weight: bolder;
  margin-top: -50px;
  margin-left: 55.5%;
}


.seta2{
  width: 21%;
  margin-top: -70px;
  margin-right: 10%;

}

.bup2 {
  margin-top: -15px;
  font-size: 18px;
  color: rgb(122, 122, 122);
  width: 120px;
}